<section class='p-3 pt-0 mx-3'>
   <div class="card-body mx-4 my-0 border border-1 rounded bg-op">
           <div class=''>
              <div class="d-flex flex-row mt-3">
                  <span><%= photo(opinion.author, 'rounded small-photo')%></span>
                  <div class="w-100 mx-3">
                      <div class='d-flex justify-content-between align-items-center'>
                        <span><%=link_to "#{opinion.author.fullname}", profile_path(opinion.author.username), style: 'text-decoration: none; color: #333;' %></span>
                        <span><%= time_ago_in_words(opinion.created_at) + ' ago' %></span>
                      </div>
                      <div class="d-flex justify-content-between align-items-start my-0">
                          <div><%= opinion.text %></div> 
                          <div class='text-center my-0'>
                            <span class='text-secondary' style='font-size: 12px'><%= pluralize(opinion.likes.count, 'like') %></span><br/>
                            <span class='mx-2'><%= like(opinion) %></span>
                          </div>
                      </div>
                  </div>
            </div>
    </div>
</section>
