<section class="border border-1">
  <article class="border border-1 p-3 d-flex flex-column justify-content-between" style='height: 220px;'>
      <div class='d-flex align-items-center justify-content-center'>
        <span><%= link_to(image_tag('plus-circle.svg', width: '30')) %></span>
        <div class='mx-3'><%= photo(@user, 'rounded-circle')%></div>
        <span><%= link_to(image_tag('plus-circle.svg', width: '30')) %></span>
      </div>
      <div class='text-center mt-2'>
        <p class="my-0 py-0"><%= @user.fullname %></p>
        <p class="text-secondarymy-0 py-0">
          @<span style='font-size: 10px'><%= @user.fullname %></span>
        </p>
      </div>
      <div class='d-flex justify-content-around' style="font-size: 12px">
        <div class='text-center'>
          <span><%= @user.opinions.count %></span><br/>
          <span>Tweets</span>
        </div>
        <div class='text-center'>
          <span><%= @user.following.count %></span><br/>
          <span>Following</span>
        </div>
        <div class='text-center'>
          <span><%= @user.followers.count %><span><br/>
          <span>Followers</span>
        </div>
      </div>
  </article>
  <article class="p-3">
    <h6>FOLLOWED BY</h6>
    <% @user.followers.each do |follower| %>
        <div class="d-flex my-3">
          <div class="author">
              <%= photo(follower, 'rounded')%>
          </div>
          <div class="d-flex flex-column fs-5 w-100 px-2" style='font-size: 12px'>
              <span class="my-0">
                <%= link_to follower.fullname, profile_path(follower.username), class: "text-dark my-0 py-0", style: 'text-decoration: none'%>
              </span>
              <p class="text-secondarymy-0 py-0">
          @<span style='font-size: 10px'><%= follower.fullname %></span>
        </p>
          </div>
          <div><%= follow(follower) %></div>
        </div>
    <% end %>
  </article>
</section>
