<section class="border border-1">
  <article class="border border-1 p-3 d-flex flex-column justify-content-between" style='height: 220px;'>
      <div class='d-flex align-items-center justify-content-center'>
        <div class='mx-3'><%= photo(@user, 'rounded-circle')%></div>
      </div>
      <div class='text-center my-2'>
        <p class="my-0 py-0"><%= @user.fullname %></p>
        <p class="text-secondarymy-0 py-0">
          <%= follow(@user) %>
          <span style='font-size: 10px'><%= '@' + @user.username %></span>
        </p>
      </div>
      <div class='d-flex justify-content-around mb-5 px-2' style="font-size: 12px">
        <div class='text-center'>
          <span><%= @user.opinions.count %></span><br/>
          <span>Tweets</span>
        </div>
        <div class='text-center'>
          <span><%= @user.following.count %></span><br/>
          <span>Following</span>
        </div>
        <div class='text-center'>
          <span><%= @user.followers.count %><span><br/>
          <span>Followers</span>
        </div>
      </div>
  </article>
  
  <article class="p-3">
    <h6>FOLLOWED BY</h6>
    <%= render @followers %>
  </article>

  <article class='p-3'>
    <h6>FOLLOWING</h6>
    <%= render @followings %>
  </article>
</section>
